{% extends 'base.html.twig' %}

{% block title %}EcoVerre | Login{% endblock %}





{% block body %}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">

    <style>
        body{
            background-color: #323232;
        }
    </style>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div id="wrapper">
            <div id="arrow"></div>
            <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail"  required autofocus>
            <input placeholder="Mot de Passe" type="password" name="password" id="inputPassword" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </div>
        <button type="submit">
    Se connecter
        </button>
    </form>



{% endblock %}
