{% extends 'base.html.twig' %}

    {% block body %}
        {% for bin in bins %}
            <ul>
                <li>Num : {{ bin.streetNum }}</li>
                <li>Street : {{ bin.street }}</li>
                <li>Ville : {{ bin.city }}</li>
                <li>PC : {{ bin.postalCode }}</li>
                <li>Type : {{ bin.binType }}</li>
            </ul>
        {% endfor %}
    {% endblock  %}

